*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container_complete{
  position:relative;
}

.esterno_sup{
  height:80px;
  background-color: #377a4d;
}

.esterno_inf{
  background-color:darkgrey;
  height:calc(100vh - 80px);
}

.container{
  width:80%;
  margin:0 auto;
  height:80vh;
  border: 1px solid black;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.container:after{
  clear:both;
  display:table;
  content:'';
}

.lato_a{
  width:30%;
}

.cornice{
  background-color: #dbdbdd;
  padding:0 5px;
  position:relative;
}

.img_container,
.img_friend,
.img_friend_current{
  width:20%;
  float:left;
}

.img_container{
  width:20%;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}

.img_container img,
.img_friend img,
.img_friend_current img{
  width:40px;
  height:40px;
  border-radius:100%;
}

.options{
  width:90%;
  text-align:right;
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  float:left;
}

.options ul li{
  display:inline-block;
  padding:0 5px;
  cursor:pointer;
}

.hgt-50{
  height:50px;
}

.search_container{
  background-color:#f2f2f2;
  position:relative;
  width:100%;
}

.hgt-40{
  height:40px;
}

.riquadro{
  width:95%;
  background-color:white;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  padding:3px 0;
}

.riquadro i{
  width:10%;
}

.riquadro input,
.send_container input{
  border:0;
  padding:0 2px;
  width:85%;
  height:25px;
}

.contacts_container{
  background-color:white;
  height:calc(80vh - 90px);
  width:100%;
  padding:0 5px;
  overflow: auto;
}

.contact{
  width:95%;
  margin:0 auto;
  border-top:1px solid grey;
}

.contact:hover{
  background-color:#dbdbdd;
}

.contact-name{
  float:right;
  width: 90%;
}

.name_container{
  margin-top: 5px;
}

.time{
  text-align: right;
  font-size: 12px;
  padding-right:20px;
  float: right;
}

.img_friend,
.img_friend_current{
  margin-top:5px;
}
.lato_a,
.lato_b{
  float:left;
}

.lato_b{
  width:70%;
}

.img_friend_current{
  width:10%;
}

.name_container_current{
  float:left;
  margin-top: 5px;
}
.invisible{
  display:none;
}

.text_container{
  background-color:#d5eae7;
  height: calc(80vh - 90px);
  overflow: auto;
}

.real_message_container{
 width:80%;
 margin:0 auto;
}

.computer_message{
 float:left;
 background-color:white;

}

.message_template{
  position:relative;
}

.my_text{
 float:right;
 background-color:#1edb44;
}

.template{
 display: none;
}

.my_text,
.computer_message{
 padding:10px;
 border:1px solid #1edb44;
 border-radius: 10px;
 margin:10px 5px 0;
 max-width:60%;
 clear:both;
}

.menu_container{
  position:relative;
}

.menu_container i{
  font-size: 12px;
  color:grey;
  padding:0 5px;
}

.delete_menu{
  background-color: white;
  width: 200%;
  position: absolute;
  right: 15px;
  top: 40px;
}

.delete_menu .info,
.delete_menu .delete{
  cursor:pointer;
}

.delete_menu .info:hover,
.delete_menu .delete:hover{
  background-color: #dbdbdd;

}

.invisible{
  display:none;
}


.send_container{
  height:calc(14.5vh - 50px);
  width:100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.send_container button{
  padding:5px 10px;
}
