*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.container{
  width:100%;
  margin:0 auto;
}

.container:after{
  clear:both;
  display:table;
  content:'';
}
/* Lato A*/
.lato_a{
  width:30%;
  border:1px solid black;
  float:left;
  overflow: scroll;

}
/*parte superiore*/
.cornice{
  width:100%;
  background-color:#dbdbdd;
  padding: 0 10px;
}

.hgt-50{
  height:50px;
}

.img_container{
  width:50px;
  position:relative;
  float:left;
}
.img_container img{
  width:100%;
  border-radius:50%;
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  left:5px;
}

.options{
  width:calc(100% - 50px);
  padding:0 10px;
  float:left;
  text-align:right;
  position:relative;
}

.options ul{
  position:absolute;
  top:50%;
  left:75%;
  transform: translateY(-50%);
}

.options ul li{
 display: inline-block;
  padding: 0 10px;
  cursor:pointer;
  color:#5b5a5a;
}

.riquadro_2{
  background-color:lightgrey;
  position:relative;
  width:100%;
}

.search_container{
  width:95%;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  position:relative;
  background-color: white;
}

.search_container i,
.input_container i{
  padding: 0 5px;
  cursor:pointer;
}

.search_container input,
.input_container input{
  width:80%;
  border:0;
  padding:5px 0;
}

.amico_container{
  width:95%;
  margin:0 auto;
  border-top:1px solid grey;
}
.amico_container:hover,
.input_container{
  background-color: #dbdbdd;
}

.amico_img{
  width:50px;
  float:left;
  display:flex;
  align-items: center;
}

.amico_img img{
  width:80%;
  border-radius:100%;
}

.nome_amico{
  float:left;
  padding-left:10px;
}

.lato_a,
.lato_b{
  height:100vh;
}

/*lato b*/
.lato_b{
  float:left;
  width:70%;;
  border:1px solid black;
}

.options_2{

  width:70%;
}
/*parte testuale*/
.text_container{
  height:85vh;
  background-image: url('http://pavbca.com/walldb/original/5/f/6/318480.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

 .real_message_container{
  width:80%;
  margin:0 auto;
  overflow:auto;
}

.computer_message{
  float:left;
  background-color:white;
  padding:5px;
  clear:both;
  max-width:60%;
}

.my_text{
  float:right;
  background-color:green;
  padding:5px;
  clear:both;
  max-width:60%;
}

.template{
  display: none;
}

.my_text,
.computer_message{
  padding:10px;
  border:1px solid green;
  border-radius: 10px;
  margin:10px 5px 0;
}
/*Barra con emoticon testo e bottone*/
.input_container{
  height:calc(14.5vh - 50px);
  width:100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input_container i{
  font-size: 25px;
}

.input_container button{
  padding:5px 10px;
}
